.login {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-top: 2vw;
  width: 25vw;
  font-size: 2vw;
  text-shadow: -0.1vw -0.1vw black;
  color: rgb(250, 202, 161);
}
input {
  background-color: rgba(255, 255, 255, 0.213);
  border-right: 0.1vw solid indigo;
  border-bottom: 0.1vw solid indigo;
  box-shadow: -0.1vw -0.1vw black, 1vw 1vw 2vw aliceblue,
    inset 0.4vw -0.4vw 1vw rgba(0, 0, 0, 0.389);
  width: 10vw;
  height: 1.8vw;
  border-radius: 55vw 2vw;
  padding: 0.1vw 1.7vw;
  color: rgb(82, 255, 47);
  text-shadow: -0.1vw -0.1vw black;
  font-size: 1.5vw;
}
.submit {
  margin-top: 5vw;
  margin-left: 0.2vw;
  transform: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submit:hover {
  filter: brightness(2);
}
.submit:active {
  scale: 1.3;
}
.user h6 {
  margin-left: 1.5vw;
  margin-bottom: -0.7vw;
  transform: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.user:hover {
  filter: brightness(2);
}

.pass h6 {
  margin-left: 1.5vw;
  margin-bottom: -0.7vw;
  transform: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.pass:hover {
  filter: brightness(2);
}
