.cards {
  position: relative;
}
.left-btn {
  position: absolute;
  font-size: 15vw;
  text-shadow: -0.3vw -0.3vw 0.5vw whitesmoke;
  z-index: 5;
  left: 1vw;
  top: 13vw;
  filter: drop-shadow(black -0.2vw -0.2vw 0.2vw);
  color: rgb(250, 202, 161);
  border-radius: 0.5vw;
  background-color: rgba(16, 16, 16, 0.6);
  height: 40vw;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.left-btn:hover {
  transform: scaleX(130%);
}
.left-btn:active {
  scale: 1.3;
}
.right-btn {
  position: absolute;
  font-size: 15vw;
  text-shadow: -0.3vw -0.3vw 0.5vw whitesmoke;
  z-index: 5;
  right: 1vw;
  top: 13vw;
  filter: drop-shadow(black -0.2vw -0.2vw 0.2vw);
  color: rgb(250, 202, 161);
  border-radius: 0.5vw;
  background-color: rgba(16, 16, 16, 0.6);
  height: 40vw;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.right-btn:hover {
  transform: scaleX(130%);
}
.right-btn:active {
  scale: 1.05;
}
.cards {
  display: flex;
}
