.navigation-btns {
  position: relative;
}
.left-btn {
  position: absolute;
  font-size: 15vw;
  text-shadow: -3px -3px 5px black;
  z-index: 5;
  top: -7rem;
  filter: drop-shadow(black -0.2vw -0.2vw 0.2vw);
  color: rgb(250, 202, 161);
  border-radius: 0.5vw;
  background-color: rgb(0, 255, 187);
  height: 40vw;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.left-btn:hover {
  transform: scaleX(150%);
}
.left-btn:active {
  scale: 1.3;
}
.right-btn {
  position: absolute;
  font-size: 15vw;
  text-shadow: -3px -3px 5px whitesmoke;
  z-index: 5;
  right: 1vw;
  top: -7rem;
  filter: drop-shadow(black -0.2vw -0.2vw 0.2vw);
  color: rgb(250, 202, 161);
  border-radius: 0.5vw;
  background-color: rgb(40, 2, 53);
  height: 40vw;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out;
}
.right-btn:hover {
  transform: scaleX(150%);
}
.right-btn:active {
  scale: 1.3;
}
