@font-face {
  font-family: Oswald;
  src: url("./assets/Oswald-VariableFont_wght.ttf");
}
:root {
  font-size: 10px;
}

body {
  border: none;
  margin: none;
  overflow: hidden;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.871) 0.1%,
      rgba(255, 255, 255, 0)
    ),
    url("../patrick-tomasso-QMDap1TAu0g-unsplash.webp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: rgb(184, 233, 235);
  font-family: Oswald;
  backdrop-filter: blur(3px);
}
.cart {
  width: 3vw;
  height: 2vw;
}
.buy {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-top: 4.5vw;
  height: 3vw;
  align-items: end;
}
.buy h2 {
  margin-top: -1vw;
  text-align: center;
}
img {
  width: 8vw;
  border: 0.1vw solid black;
  border-radius: 0.3vw;
  margin-bottom: 1vw;
}
.logo {
  width: 40%;
  border-radius: 0;
  border: none;
}
.header {
  width: 14vw;
  margin: 2vw 3vw;
  padding: 1vw 3.5vw;
  filter: drop-shadow(-0.15vw -0.15vw black);
  box-shadow: -0.1vw -0.1vw black, 1vw 1vw 2vw aliceblue,
    inset 2vw -2vw 5vw rgba(0, 0, 0, 0.389);
  border-radius: 50vw;
  background-color: rgba(255, 255, 255, 0.213);
  border-right: 0.1vw solid indigo;
  border-bottom: 0.1vw solid indigo;
}
h1 {
  letter-spacing: 0.5vw;
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: 1.5vw;
  align-self: center;
  margin: 0.5vw 0;
}
h3 {
  text-decoration: overline;
}
h3,
h4 {
  text-decoration: underline;
}
p {
  color: red;
}
.shoes p {
  color: rgb(255, 47, 47);
  background: black;
  width: 5vw;
  border-radius: 0.1vw;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-left: 10vw;
}
.blur {
  backdrop-filter: blur(300px);
}
.shoes {
  height: 22vw;
  width: 20vw;
  padding: 3vw;
  margin: 1vw;
  filter: drop-shadow(-0.15vw -0.15vw black);
  box-shadow: -0.1vw -0.1vw black, 1vw 1vw 2vw aliceblue,
    inset 2vw -2vw 5vw rgba(0, 0, 0, 0.389);
  border-radius: 1vw;
  background-color: rgba(217, 215, 212, 0.213);
  padding-bottom: 4vw;
  border-right: 0.1vw solid indigo;
  border-bottom: 0.1vw solid indigo;
}
.disclaimer {
  font-size: 0.5vw;
  text-align: center;
  margin-top: 2vw;
}
