body {
  margin: 0;
  border: none;
}
@media screen and (orientation: portrait) {
  body,
  html {
    overflow-x: hidden;
  }
  .nav {
    display: grid;
    grid-area: 1/4;
    justify-content: center;
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vw;
  }
  .header img {
    margin-left: 9vw;
  }
  .header h1 {
    font-size: 3.5vw;
    margin-bottom: -1vw;
  }
  .header h2 {
    font-size: 2.5vw;
  }
  input {
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
  }
  .login {
    margin-left: -5vw;
  }
  .pass h6 {
    margin-bottom: 0.3vw;
    font-size: 3vw;
  }
  .user h6 {
    margin-bottom: 0.3vw;
    font-size: 3vw;
  }
  .submit {
    margin-top: 12vw;
    margin-left: 1vw;
  }
  .left-btn {
    height: 70vw;
    top: 59vw;
  }
  .right-btn {
    height: 70vw;
    top: 59vw;
  }
  .buy {
    position: fixed;
  }
  .shoes {
    width: 40vw;
    height: 50vw;
    margin-top: 15vw;
  }
  .shoes p {
    width: 10vw;
  }
  .cards img {
    width: 20vw;
    height: 15vw;
  }
  .cards h3,
  h4,
  h5,
  h6,
  p {
    font-size: 3.5vw;
  }
  .counter {
    width: 16vw;
    height: 6vw;
    margin-top: 3vw;
  }
  .counter p,
  button {
    font-size: 5vw;
  }
  .minus {
    font-size: 8vw;
    margin-top: -2.2vw;
  }
  .disclaimer {
    margin-top: 10vw;
  }
  .welcome {
    align-self: center;
    margin-left: 15vw;
  }
  .welcome h2 {
    font-size: 5.8vw;
    width: 45vw;
  }
  .buy {
    position: absolute;
    top: 8vw;
    right: 5vw;
  }
  .buy h2 {
    font-size: 3vw;
  }
  .cart {
    width: 8vw;
    height: 6vw;
  }
}
